<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchiveIdentifier</key>
	<string>456CA177-A92B-4773-A610-AB14E4EB0425</string>
	<key>EndTimeRef</key>
	<dict>
		<key>ContinuousTime</key>
		<integer>731060894018020</integer>
		<key>UUID</key>
		<string>C4CC4CA7-3142-472D-AFE3-65C7339368C3</string>
	</dict>
	<key>HighVolumeMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>730898895156819</integer>
			<key>UUID</key>
			<string>C4CC4CA7-3142-472D-AFE3-65C7339368C3</string>
		</dict>
	</dict>
	<key>HighVolumeSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>LiveMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>730901453646502</integer>
			<key>UUID</key>
			<string>C4CC4CA7-3142-472D-AFE3-65C7339368C3</string>
		</dict>
	</dict>
	<key>OSArchiveVersion</key>
	<integer>4</integer>
	<key>OSLoggingSupportProject</key>
	<string>libtrace-906.200.86</string>
	<key>OSLoggingSupportVersion</key>
	<real>906.20000000000005</real>
	<key>PersistMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>730901453600011</integer>
			<key>UUID</key>
			<string>C4CC4CA7-3142-472D-AFE3-65C7339368C3</string>
		</dict>
	</dict>
	<key>PersistSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>SignpostMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>730901453612194</integer>
			<key>UUID</key>
			<string>C4CC4CA7-3142-472D-AFE3-65C7339368C3</string>
		</dict>
	</dict>
	<key>SignpostSizeLimit</key>
	<integer>18446744073709551615</integer>
	<key>SourceIdentifier</key>
	<string>289EEB44-38F7-4419-9D90-11CE73B4F674</string>
	<key>SpecialMetadata</key>
	<dict>
		<key>OldestTimeRef</key>
		<dict>
			<key>ContinuousTime</key>
			<integer>730901453608378</integer>
			<key>UUID</key>
			<string>C4CC4CA7-3142-472D-AFE3-65C7339368C3</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>ttl01</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>630879919065120</integer>
				<key>UUID</key>
				<string>C4CC4CA7-3142-472D-AFE3-65C7339368C3</string>
			</dict>
			<key>ttl03</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>458032124416391</integer>
				<key>UUID</key>
				<string>C4CC4CA7-3142-472D-AFE3-65C7339368C3</string>
			</dict>
			<key>ttl07</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>112398641507000</integer>
				<key>UUID</key>
				<string>C4CC4CA7-3142-472D-AFE3-65C7339368C3</string>
			</dict>
			<key>ttl14</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>0</integer>
				<key>UUID</key>
				<string>C4CC4CA7-3142-472D-AFE3-65C7339368C3</string>
			</dict>
			<key>ttl30</key>
			<dict>
				<key>ContinuousTime</key>
				<integer>0</integer>
				<key>UUID</key>
				<string>C4CC4CA7-3142-472D-AFE3-65C7339368C3</string>
			</dict>
		</dict>
	</dict>
	<key>SpecialSizeLimit</key>
	<integer>18446744073709551615</integer>
</dict>
</plist>
