<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>HasCodeCoverage</key>
				<false/>
				<key>LogPath</key>
				<string>1_Test/action.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Failed</string>
				<key>TestFailureSummaries</key>
				<array>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGISJYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBgZVSRu
						dWxs2gkKCwwNDg8QERITFBQVFRYU
						FxQUW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACE///////////EACA
						A4AAXxA9ZmlsZTovLy9Vc2Vycy9t
						YWRoYW4vVHJlZVZpZXcvTGFsYU1v
						dmUvaU9TL2xsbXYvJTNDdW5rbm93
						biUzRdIaGxwdWiRjbGFzc25hbWVY
						JGNsYXNzZXNfEBdEVlRUZXh0RG9j
						dW1lbnRMb2NhdGlvbqMeHyBfEBdE
						VlRUZXh0RG9jdW1lbnRMb2NhdGlv
						bl8QE0RWVERvY3VtZW50TG9jYXRp
						b25YTlNPYmplY3RfEA9OU0tleWVk
						QXJjaGl2ZXLRIyRUcm9vdIABAAgA
						EQAaACMALQAyADcAPABCAFcAYwB6
						AI8AowC2AL0A0ADaAO8BAwEFAQ4B
						EAESARQBVAFZAWQBbQGHAYsBpQG7
						AcQB1gHZAd4AAAAAAAACAQAAAAAA
						AAAlAAAAAAAAAAAAAAAAAAAB4A==
						</data>
						<key>IssueType</key>
						<string>Uncategorized</string>
						<key>Message</key>
						<string>No matches found for Find: Children matching type Cell from input {(
    Table, identifier: 'DeliveriesTableView', label: 'DeliveriesTableView'
)}</string>
						<key>TestCase</key>
						<string>_3_LalaTestDeliveryListTest.test_5_DeleteItemFromDeliveryList()</string>
					</dict>
				</array>
				<key>TestSummaryPath</key>
				<string>1_Test/action_TestSummaries.plist</string>
				<key>TestsCount</key>
				<integer>10</integer>
				<key>TestsFailedCount</key>
				<integer>1</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>HasCodeCoverage</key>
				<false/>
				<key>LogPath</key>
				<string>1_Test/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>EndedTime</key>
			<date>2018-10-08T17:04:30Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>100</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i5</string>
					<key>CPUSpeedInMHz</key>
					<integer>2300</integer>
					<key>Identifier</key>
					<string>5F05DD74-50E0-5EA1-A90B-8E14AE09644B</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>4</integer>
					<key>ModelCode</key>
					<string>MacBookPro14,1</string>
					<key>ModelName</key>
					<string>MacBook Pro</string>
					<key>ModelUTI</key>
					<string>com.apple.macbookpro-13-retina-usbc-2017</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.13.6</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.13.6 (17G65)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>2</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>8192</integer>
				</dict>
				<key>Name</key>
				<string>iPhone X</string>
				<key>TargetArchitecture</key>
				<string>x86_64</string>
				<key>TargetDevice</key>
				<dict>
					<key>Identifier</key>
					<string>D7197192-2E72-406F-95D2-989F36036351</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>ModelCode</key>
					<string>iPhone10,6</string>
					<key>ModelName</key>
					<string>iPhone X</string>
					<key>ModelUTI</key>
					<string>com.apple.iphone-x-1</string>
					<key>Name</key>
					<string>iPhone X</string>
					<key>NativeArchitecture</key>
					<string>x86_64</string>
					<key>OperatingSystemVersion</key>
					<string>12.0</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>12.0 (16A366)</string>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.iphonesimulator</string>
						<key>Name</key>
						<string>iOS Simulator</string>
					</dict>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>iphonesimulator12.0</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>Simulator - iOS 12.0</string>
					<key>OperatingSystemVersion</key>
					<string>12.0</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Test</string>
			<key>SchemeTask</key>
			<string>BuildAndAction</string>
			<key>StartedTime</key>
			<date>2018-10-08T17:01:37Z</date>
			<key>Title</key>
			<string>Testing workspace LalaTest with scheme LalaTest</string>
		</dict>
	</array>
	<key>AnalyzerWarningCount</key>
	<integer>0</integer>
	<key>CreatingWorkspaceFilePath</key>
	<string>/Users/madhan/TreeView/LalaMove/iOS/llmv/LalaTest.xcworkspace</string>
	<key>ErrorCount</key>
	<integer>0</integer>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>Running</key>
	<false/>
	<key>TestFailureSummaries</key>
	<array>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGISJYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBgZVSRudWxs2gkKCwwNDg8QERIT
			FBQVFRYUFxQUW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACE///////////EACA
			A4AAXxA9ZmlsZTovLy9Vc2Vycy9tYWRoYW4vVHJlZVZpZXcvTGFs
			YU1vdmUvaU9TL2xsbXYvJTNDdW5rbm93biUzRdIaGxwdWiRjbGFz
			c25hbWVYJGNsYXNzZXNfEBdEVlRUZXh0RG9jdW1lbnRMb2NhdGlv
			bqMeHyBfEBdEVlRUZXh0RG9jdW1lbnRMb2NhdGlvbl8QE0RWVERv
			Y3VtZW50TG9jYXRpb25YTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2
			ZXLRIyRUcm9vdIABAAgAEQAaACMALQAyADcAPABCAFcAYwB6AI8A
			owC2AL0A0ADaAO8BAwEFAQ4BEAESARQBVAFZAWQBbQGHAYsBpQG7
			AcQB1gHZAd4AAAAAAAACAQAAAAAAAAAlAAAAAAAAAAAAAAAAAAAB
			4A==
			</data>
			<key>IssueType</key>
			<string>Uncategorized</string>
			<key>Message</key>
			<string>No matches found for Find: Children matching type Cell from input {(
    Table, identifier: 'DeliveriesTableView', label: 'DeliveriesTableView'
)}</string>
			<key>TestCase</key>
			<string>_3_LalaTestDeliveryListTest.test_5_DeleteItemFromDeliveryList()</string>
		</dict>
	</array>
	<key>TestSummaryPath</key>
	<string>/Users/madhan/TreeView/LalaMove/iOS/llmv/Reports/TestResults-08-10-2018_22.31.32/TestSummaries.plist</string>
	<key>TestsCount</key>
	<integer>10</integer>
	<key>TestsFailedCount</key>
	<integer>1</integer>
	<key>WarningCount</key>
	<integer>0</integer>
</dict>
</plist>
